{% extends 'base.html' %}
{% load static%}
{% block styles %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}


{% block content %}

<nav class="sidebar close">
    <header>
        <div class="image-text">
            <div class="text header-text">
                <span class="name">MANAGEMENT <span style="color: #5E5CC0;">SYSTEM</span> </span><br>
            </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <!-- <li class="search-box">
                <i class='bx bx-search icon'></i>
                <input type="search" placeholder="Search...">
            </li> -->
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="{% url 'professor' %}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">HOME</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'new-course' %}">
                        <i class='bx bx-plus-circle icon'></i>
                        <span class="text nav-text">NEW COURSE</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="{% url 'new-test' %}">
                        <i class='bx bx-list-plus icon'></i>
                        <span class="text nav-text"> NEW TEST</span>
                    </a>
                </li>
                <!-- <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-book-open icon'></i>
                        <span class="text nav-text">POSTED COURSES</span>
                    </a>
                </li> -->
                <li class="nav-link">
                    <a href="{% url 'postedTest' %}">
                        <i class='bx bx-slideshow icon'></i>
                        <span class="text nav-text">POSTED TESTS</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'studentsEnrolled' %}">
                        <i class='bx bx-book-open icon'></i>
                        <span class="text nav-text">STUDENTS</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="{% url 'create_grade' %}">
                        <i class='bx bx-book-open icon'></i>
                        <span class="text nav-text">GRADES</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="bottom-content">
            <li class="">
                <a href="{% url 'professor-logout' %}">
                    <i class='bx bx-log-out icon'></i>
                    <span class="text nav-text">Log Out</span>
                </a>
            </li>

            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
<section class="home bg-light" style="height: 100vh;">
    <h3 class="text" style="text-align: center;">{{user.first_name}}'s Dashboard</h3>

    
    <h2 class="text-muted" style="padding-top: 4%; padding-left: 4%;">Enrollment list:</h2>
    <table class="card tests" style="display: flex; justify-content: space-evenly;">
        <thead>
          <tr >
            <th >Student Name</th>
            <th >Course Title</th>
          </tr>
        </thead>
        <tbody>
          {% if students_and_courses %}
          {% for student_and_course in students_and_courses %}
            <tr>
              <td>{{ student_and_course.student_name }}</td>
              <td>{{ student_and_course.course_title }}</td>
            </tr>
          {% endfor %}
          {% else %}
          <h4> You don't have any Students enrolled yet..</h4>
          {% endif %}
        </tbody>
      </table>
 

</section>



{% endblock %}